@model Awesome_Time.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal minimalistic-form", role = "form" }))
{
        <h2>@ViewBag.Title.</h2>
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Password) })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.FamilyName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.FamilyName) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.GivenName, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.GivenName) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.PhoneNumber) })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.TwitterAccount, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.TwitterAccount) })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(m => m.AwesomenessNumber, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.AwesomenessNumber) })
        </div>
        <div class="form-group">
                <input type="submit" class="btn btn-default" value="Register" />
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
